<nav>
  <%= link_to '< Back to Dashboard', status_path(name: @website.name), class: "button" %>

  <button id="download-csv-button" class="button">Download CSV</button>
</nav>

<%= will_paginate @videos %>

<section class="videos">
  <table class="table table--full table--left-text">
    <thead>
      <tr>
        <th>id</th>
        <th>pid</th>
        <th>page url</th>
        <th>type</th>
        <th>views</th>
        <th>duration</th>
        <th>channel</th>
        <th>video source</th>
        <th>properties</th>
        <th>captioned?</th>
        <th>status</th>
        <th>updated</th>
      </tr>
    </thead>

    <tbody>
    <% @videos.each do |vid| %>
      <tr>
        <td><%= vid.id %></td>
        <td><%= vid.page_id %></td>
        <td><%= link_to(vid.page_url.truncate(100), vid.page_url) %></td>
        <td><%= vid.embed_type %></td>
        <td><%= vid.view_count %></td>
        <td><%= vid.duration %></td>
        <td><%= link_to_if(vid.channel_url.present?, vid.channel_name, vid.channel_url) %></td>
        <td><%= link_to(vid.url.truncate(100), vid.url, target: "_blank") %></td>
        <td><%= vid.properties %></td>
        <td><%= vid.captioned? ? "yes" : "" %></td>
        <td><%= vid.status %></td>
        <td class="nowrap"><%= vid.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>

<%= will_paginate @videos %>

<iframe id="csv_download_region" aria-hidden="true" style="display: none;"></iframe>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		initialize();
	});

	function initialize() {
    let btn = $$('#download-csv-button');

    if (btn) {
      btn.addEventListener('click', function(e) {
        e.preventDefault()
        btn.classList.add("generating")
        btn.innerHTML = "Generating..."
        btn.setAttribute("disabled", true)

        var url = '<%= videos_export_csv_path(@website.name) %>'

        $$('#csv_download_region').src = url

        setTimeout(function() {
          btn.classList.remove("generating")
          btn.removeAttribute("disabled");
          btn.innerHTML = 'Download CSV'
        }, 2500)
      });
    }
  }
</script>